@function rem($size) {
    @return $size / 16px * 1rem;
  }
#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 5;

    background: var(--roxo);
    color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;

    img {
      max-width: 20rem;
    }
    strong {
      font: 700 36px "Poppins", sans-serif;
      line-height: 42px;
      margin-top: 1rem;
    }
    p {
      font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
      color: var(--branco-bg);
    }
  }
  main {
    flex: 8;

    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: rem(320px);
  align-items: stretch;
  text-align: center;
  > img {
    align-self: center;
  }
  form {
    input {
      height: rem(50px);
      border-radius: 0.5rem;
      padding: 0 1rem;
      background: #fff;
      border: 1px solid #a8a8b3;
    }
    button {
      margin-top: 1rem;
    }

    button,
    input {
      width: 100%;
    }
  }

  .btn-authgoogle {
    margin-top: 4rem;
    height: rem(50px);
    background: #ea4335;
    color: var(--branco-bg);
    padding: rem(13px) rem(46px);
    border-radius: rem(8px);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;

    transition: filter 0.2s;
    img {
      margin-right: rem(8px);
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: rem(14px);
    color: #a8a8b3;
    margin: 2rem 0;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-right: 1rem;
    }

    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-left: 1rem;
    }
  }
}
