.main-content{

    h2{
        font-size: 1.5rem;
        margin: 4rem 0 1.5rem;
        font-family: 'Poppins', sans-serif;
    }

    p{
        font-size: 14px;
        color: #737380;
        margin-top: 1rem;
        a{
            color: #e559f9;
        }
    }
}