@function rem($size) {
  @return $size / 16px * 1rem;
}

.question-content {
  margin-bottom: 0.5rem;
  max-width: rem(800px);
  padding: rem(24px);
  border-radius: 0.5rem;
  background: #fefefe;
  box-shadow: 0 rem(2px) rem(12px) rgba(0, 0, 0, 0.06);

  .question-text {
    color: #29292e;
    font: 400 1rem "Roboto", sans-serif;
  }

  .user-info {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #737380;
    font-size: rem(14px);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    gap: 0.5rem;
    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
    .actions-div {
      display: flex;
      align-items: center;
      button {
        cursor: pointer;
        border: none;
        background: transparent;
        transition: filter 0.2s;

        &:hover{
          filter: brightness(0.7);
        }

        &.like-button{
          display: flex;
          align-items: flex-end;
          color: #737380;
          gap: 0.5rem;

          &.liked{
            color: #835afd;

            svg path{
              stroke: #835afd;
            }
          }
        }
      }
    }
  }
}
